<div class="container">
    <div class="row">
        <% include partials/header %>
            <div class="col-md-6 col-sm-6">
            <br>
            <h2 class="text-center text-primary">Add numbers</h2>
            <% if (numberErrors != undefined) {%>
                <ul class="text-warning">
                <% numberErrors.forEach(function(error) { %>
                <li><%= error.msg %></li>
                <% }) %>
                </ul>
            <% } %>
            <form method="post" action="/numbers/add">
                <label>Key</label><br>
                <input class="form-control" placeholder="Enter key" type="text" name="key"><br>
                <label>Value</label><br>
                <input type="number" class="form-control" placeholder="Enter value" name="value"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <h4>Numbers</h4>
            <% if (numbers != undefined) {%>
                <ul class="list-group">
                <% numbers.forEach(function(number) { %>
                    <li class="list-group-item"><%= number.val().key %>   "<%= number.val().value %>" - <a href="#" class="deleteNumber badge badge-danger" data-id="<%= number.key%>">Delete</a></li>
                <% }) %>
                </ul>
            <% } %>
            <br>
        </div>
        
        
        <div class="col-md-6 col-sm-6">
        <br>
        <h2 class="text-center text-primary">Add operations</h2>
            <% if (operationErrors != undefined) {%>
                <ul class="text-warning">
                <% operationErrors.forEach(function(error) { %>
                    <li><%= error.msg %></li>
                <% }) %>
                </ul>
            <% } %>
            <div class="form-group">
            <form method="post" action="/operations/add">
                <label>Key</label><br>
                <input class="form-control" placeholder="Enter key"  type="text" name="key"><br>
                <label>Value</label><br>
                <input class="form-control" placeholder="Enter value" type="operation" name="value"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>

            <h4>Operations</h4>
            <% if (operations != undefined) {%>
                <ul class="list-group">
                <% operations.forEach(function(operation) { %>
                    <li class="list-group-item"> <%= operation.val().key %>   "<%= operation.val().value %>" - <a href="#" class="deleteOperation badge badge-danger" data-id="<%= operation.key%>">Delete</a></li>
                <% }) %>
                </ul>
            <% } %>
            <br>
        <% include partials/footer %>
        </div>
    </div>
</div>